.neos-table td form {
    display: inline;
}

.neos-table ul {
    margin: 0.5rem 1rem;
}

.neos-table ul li {
    line-height: initial;
    list-style: initial;
}

.neos-table.show th {
    width: 33%;
}

.neos.neos-module .neos-footer {
    display: flex;
}

.neos.neos-module .neos-content a:not(.neos-button) {
    color: #00b5ff;
}

.neos.neos-module .neos-content a:not(.neos-button):hover {
    color: #fff;
}

.neos.neos-module .neos-content a.white-link {
    color: #fff;
}


.neos.neos-module textarea {
    line-height: 36px;
}

.neos .crud-breadcrumb {
    padding-top: 16px;
}

legend.h2 {
    font-size: 125%;
}

.neos .crud-breadcrumb .neos-divider {
    padding: 0 5px;
    color: #ccc;
}

.neos .pagination select {
    /*margin-top: -3px;*/
}


